pipeline/append_variable_test.json
{
	"name": "append_variable_test",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": "5"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "b",
					"value": {
						"value": "@variables('a')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"b": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}